<nav class="navbar navbar-expand-sm bg-ligth navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button (click)="OnGetAllProducts()" class="btn btn-outline-info ml-3"> All </button>
        </li>
        <li>
            <button (click)="OnGetSeclectedProducts()" class="btn btn-outline-info ml-3"> Selected </button>
        </li>
        <li>
            <button (click)="OnGetAvailableProducts()" class="btn btn-outline-info ml-3"> Available </button>
        </li>
        <li>
            <button (click)="OnAddNewProduct()" class="btn btn-outline-info ml-3"> New </button>
        </li>
    </ul>
    <ul class="navbar navbar-nav mr-auto">
        <li>
            <form #f="ngForm" (ngSubmit)="OnSearchProducts(f.value)">
                <div class="form-group">
                    <input ngModel name="keyword" type="text">
                    <button class="btn btn-outline-info">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </li>
    </ul>
</nav>